/*
* @Author: cj
* @Date:   2017-05-23 08:09:46
* @Last Modified by:   cj
* @Last Modified time: 2017-05-29 11:01:29
*/
.sidebar
  margin-right: 20px
  line-height: 40px
  color: #8f9392
  font-size: .8rem
  flex-shrink: 0

.sidebar__item
  color: #8f939c
  display: block
  padding-left: 40px
  cursor: pointer
  text-decoration: none
.sidebar__item--active
  color: #444a59
  border-left: 6px solid $active
