<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
  <title>{{ .Title }} - CJ Ting's Blog</title>
  <meta name="author" content="{{ .Site.Params.author }}">
  <meta name="description" content="{{ default .Title .Description }}">
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/asset/main.css">
  <script type="text/javascript">
    window.PAGE = {
      title: "{{ .Title }}",
    }
  </script>
</head>
<body>
  {{ block "body" . }}
    {{ partial "header" . }}
    <main class="main">
      {{ partial "sidebar" . }}
      <div class="container">
        {{ block "content" . }}
        {{ end }}
      </div>
    </main>
  {{ end }}

  <script src="/asset/main.js"></script>

  <!-- 百度监测 -->
  {{ partial "baidu-analytics" . }}
</body>
</html>
