{{ define "body" }}
  <div class="post">
    <header class="post__header" data-cover="{{ default .Site.Params.default_cover .Params.cover }}">
      <a href="/">
        HOME
      </a>
    </header>

    <div class="post__body">
      <h1 class="post__title">
          {{ .Title }}
      </h1>

      <div class="post__meta">
        <div class='date'>
          {{ .Date.Format "2006.01.02" }}
        </div>

        <div class="tags">
          {{ range .Params.tags }}
            <span class="tag">{{ . }}</span>
          {{ end }}
        </div>
      </div>

      <div class="post__content">
        {{ .Content }}
      </div>

      <div id="post__comments">
      </div>
    </div>
  </div>
{{ end }}
