---
import { getCollection } from 'astro:content'
import BaseLayout from '../layouts/BaseLayout.astro'
import Button from '../components/Button.astro'
import Hero from '../components/Hero.astro'
import PostPreview from '../components/PostPreview.astro'
import ProjectPreview from '../components/ProjectPreview.astro'
import siteConfig from '../data/site-config'
import { sortItemsByDateDesc, filterPosts } from '../utils/data-utils'

const posts = (await getCollection('posts', filterPosts)).sort(sortItemsByDateDesc)
const recentPosts = posts.slice(0, 5)
---

<BaseLayout
  description={siteConfig.description}
  image={siteConfig.image}
>
  <Hero />

  <!-- {
    recentProjects?.length > 0 && (
      <div class="mb-16 sm:mb-24">
        <h2 class="mb-12 text-xl font-serif italic sm:mb-16 sm:text-2xl">Projects</h2>
        {recentProjects.map((project) => (
          <ProjectPreview
            project={project}
            class="mb-10 sm:mb-12"
            headingLevel="h3"
          />
        ))}
        <div class="mt-12 sm:mt-16">
          <Button href="/projects/">View All Projects</Button>
        </div>
      </div>
    )
  } -->

  {
    (
      <div class="">
        <h2 class="font-serif italic mb-8 text-2xl">Recent Posts</h2>

        {recentPosts.map((post) => (
          <PostPreview
            titleClass="!text-xl"
            post={post}
            class="mb-10"
            headingLevel="h2"
            showExcerpt
          />
        ))}

        <div class="mt-12 sm:mt-16">
          <Button href="/archive/">View All Posts</Button>
        </div>
      </div>
    )
  }
</BaseLayout>
