---
import BaseLayout from '../layouts/BaseLayout.astro'
import Tip from '@/components/Tip.astro'
---

<BaseLayout>
  <div class="prose prose-cj">
    <h1>hello world</h1>

    <p>this is a paragraph</p>
  </div>

  <Tip> alsdjfalsdjfladjsf </Tip>

  <div class="flex flex-col gap-16 text-xl prose">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla vel voluptate voluptatum eaque dolores! Ratione dolores laboriosam temporibus, eum ipsa ex
      odio perferendis hic. Eos laborum et fugiat consectetur deleniti.
    </p>

    <div>
      <blockquote>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla vel voluptate voluptatum eaque dolores! Ratione dolores laboriosam temporibus, eum ipsa
          ex odio perferendis hic. Eos laborum et fugiat consectetur deleniti.
        </p>
      </blockquote>

      <blockquote>
        <p>热重载是一个非常好用的功能，可以在不重启的情况下更新应用，从而大大提高开发效率。</p>
      </blockquote>
    </div>
  </div>
</BaseLayout>
