.archive
  content-container()

.archive__item
  border-bottom: 1px solid #e2e2e2
  margin-bottom: 40px

.archive__post
  display: flex
  align-items: center
  padding: 15px
  > span
    width: 6px
    height: 6px
    border-radius: 50%
    background: #444a59
    margin-right: 20px
    flex-shrink: 0
  > a
    text-decoration: none
    color: #444a59
    margin-right: 10px
    line-height: 1.6rem
    &:hover
      color: $active
    &:last-of-type
      margin-left: auto
      font-size: 0.8rem
  > div
    font-size: 0.8rem
    color: #999

