.sidebar
  margin-right: 20px
  line-height: 40px
  color: #8f9392
  font-size: .8rem
  flex-shrink: 0

.sidebar__item
  color: #8f939c
  display: block
  padding-left: 40px
  cursor: pointer
  text-decoration: none
.sidebar__item--active
  color: #444a59
  border-left: 6px solid $active
