<header class="header">
  <a href="{{ "/" | relURL }}">
    <img class="header__avatar" src="{{ "image/avatar.jpeg" | relURL }}">
  </a>

  <nav class="header__nav">
    <a href="{{ "/" | relURL }}" class="header__nav__item {{ if or .IsHome (ne .Section "")}} header__nav__item--active {{ end }}">Posts</a>

    <a href="{{ "archive" | relURL }}" class="header__nav__item {{if eq .Params.layout "archive"}}header__nav__item--active{{end}}">Archive</a>

    <a href="https://slides.cjting.me" target="_blank" class="header__nav__item {{if eq .Params.layout "archive"}}header__nav__item--active{{end}}">Slides</a>

    <a href="https://github.com/cj1128" class="header__nav__item" target="_blank">Github</a>

    <a href="{{ "about" | relURL }}" class="header__nav__item">About</a>
  </nav>
</header>
