{{ define "content" }}
  <div class="index u-content-container">
    {{ $paginator := .Paginate (where .Site.RegularPages "Params.type" "!=" "page") }}
    {{ range $paginator.Pages }}
      <div class="index__item">
        <a class="index__item__title hvr-underline-from-left" href="{{ .RelPermalink }}">
          {{ .Title }}
        </a>

        <div class="index__item__content post__content">
          {{ .Summary }}
        </div>

        <div class="index__item__meta">
          {{ $section := .Site.GetPage "section" .Section }}
          <a href="{{ $section.RelPermalink }}">
            {{ .Section }}
          </a>
          <div>
          </div>
          <div>
            {{ .Lastmod.Format "2006.01.02" }}
          </div>
        </div>
      </div>
    {{ end }}

    <div class="index__paginator">
      {{ if $paginator.HasPrev }}
        <a href="{{ $paginator.Prev.URL }}">Prev</a>
      {{ else }}
        <a href="javascript:void(0)" disabled="disabled">Prev</a>
      {{ end }}

      <div class="index__paginator__info">
        <span>{{ $paginator.PageNumber }}</span>
        /
        <span>{{ $paginator.TotalPages }}</span>
      </div>

      {{ if $paginator.HasNext }}
        <a href="{{ $paginator.Next.URL }}">Next</a>
      {{ else }}
        <a href="javascript:void(0)" disabled="disabled">Next</a>
      {{ end }}
    </div>
  </div>
{{ end }}
